<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-xs-12">
		<div class="panel panel-header">
		</div>
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<%= form_for :search, :url=> {:action=>'search'} do |f| %>
					<div class="input-group">
						<%= f.text_field :tag_list, :class => "form-control input-lg text-center", :value => @search, :placeholder => "search for emoji tags eg: haha, laugh", :autocapitalize => "none" %>
						<span class="input-group-btn">
							<%= button_tag :type => 'submit', :class => "btn btn-default input-lg" do %>
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<% end %>
						</span>
					</div>
				<% end %>
			</div>
		</div>
		<% if !@result.empty? %>
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<% @result.each do |emoji| %>
						<div class="img-thumbnail">
							<div>
								<% if user_signed_in? %>
									<%= link_to edit_emoji_path(emoji) do %>
										<%= image_tag emoji_path(emoji) %>
									<% end %>
								<% else %>
									<% if !@is_mobile %>
										<%= button_tag :type => 'button', :data => {clipboard_text: "#{emoji_url(emoji)}.gif"}, :class =>  "clip-emoji" do %>
											<%= image_tag emoji_path(emoji, format: :gif) %>
										<% end %>
									<% else %>
										<%= button_tag :type => 'button', :data => {toggle: "popover", placement: "top", content: "<input type='text' value='#{emoji_url(emoji)}.gif' class='url-field' readonly />", html: "true"}, :title => "URL", :class => "clip-popover" do %>
											<%= image_tag emoji_path(emoji, format: :gif) %>
										<% end %>
									<% end %>
								<% end %>
							</div>
							<% emoji.tag_list.each do |tag| %>
								<%= link_to tag, search_path({:search => {:tag_list => tag}}), :method => :post %>
								<br/>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
